.topcontainer {

margin: 0%;
border: 0%
}

header {
background-color: navy;
color: white;
}
li{
text-align: center;
}

section{
height: 500px;
width: 500px;
background-color: black;
font-color: white;
}

footer{
background-color: navy;
height: 100px;
width: 3000px;
}





